.scrollable-tab-container {
  position: fixed;
  z-index: 100;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 2rem;
  background-color: var(--primaryColor);
  box-shadow: -2px 9px 25px -6px rgba(28, 27, 77, 0.76);
  -webkit-box-shadow: -2px 9px 25px -6px rgba(28, 27, 77, 0.76);
  -moz-box-shadow: -2px 9px 25px -6px rgba(28, 27, 77, 0.76);
  svg {
    font-size: 2em;
  }
  .tab-title {
    position: relative;
    white-space: nowrap;
    svg {
      // position: absolute;
      // z-index: 10;
      // left: 1em;
      font-size: 1em;
      fill: rgb(201, 19, 19);
    }
  }
}

.tabs-holder {
  display: flex;
  align-items: center;
}

.horizontal-list {
  width: 100%;
  overflow: hidden;
  list-style-type: none;
  padding: 0 1rem;
  margin: 0 0 1rem 0;
  white-space: nowrap;
  li {
    font-size: 1em;
    font-weight: 500;
    width: 7em;
    display: inline-block;
    padding-bottom: 0.5rem;
    text-align: center;
    position: relative;
    white-space: nowrap;
    background-color: var(--primaryColor);
    svg {
      position: absolute;
      z-index: 10;
      left: 6em;
      top: 0;
      font-size: 1em;
      fill: rgb(201, 19, 19) !important;
    }
  }
}

.cursor {
  cursor: pointer;
}
.active-tab {
  border-bottom: 3px solid var(--secondaryColor);
}
